
   @import url(https://fonts.googleapis.com/css?family=Roboto);

 
 #title{
    font-family: Futura;
    text-align: center;
    font-size: 30px;
  }
/*
  .form-group {
    text-align: center;
  }
*/ 
  body {
    font-family: Futura, sans-serif;
    background-color: rgb(247, 209, 52);
  }

  #content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  #content > div {
    display: flex;
  }

  #begin {
    margin-top: 48px;
    /* position: absolute;
    height:35px; 
    width: 60px;
    top: 60%; 
    left: 48%; */
  }

  #title1 {
    color: white;
  }


  #transition01 {
    color: black;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: bold;
  }

  #transition02 {
    color: black;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: bold;
  }

  #transition03 {
    color: black;
    margin-left: 150px;
    margin-right: 150px;
  }

  #transition1 {
    color: grey;
    margin-left: 150px;
    margin-right: 150px;

  }



  .btn  {
    -webkit-appearance: none;
    border: 2px solid white;
    background-color:  rgb(247, 209, 52);
    position:relative; 
    font-size: 18px;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
  }

  .btn:hover {
    background: rgb(227, 189, 32);
    color: white;
  }
 

